* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board-bot {
    width: 550px;
    height: 500px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(11,1fr);
    /* border: solid; */
}
.header-alpha {
    /* border: solid 1px red; */
    grid-column: 2/span 10;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
.header-alpha p,
.aside-number p,
.board div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.aside-number {
    /* border: solid 1px blue; */
    grid-row: 2/span 10;
    display: grid;
    grid-template-rows: repeat(10,1fr);
}
.board {
    border: solid 1px green;
    grid-column: 2/span 10;
    grid-row: 2/span 10;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.board div {
    background-color: aqua;
    border: solid 1px rgb(169, 212, 212);
}

.ship{
    background: url(../img/MicrosoftTeams-image.png) no-repeat center center;
    background-size: contain;
}


/* Wins */
.wins {
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 155px;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
}


/* Time */
div.timer {
    margin-top: 10px;
    margin-left: 45px;
    font-size: 34px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: rgb(82, 79, 79);
}

#time {
    font-size: 34px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(47, 176, 176);
}
